<article class="post__wrapper">
  <div class="img__wrapper">
    <img src="https://source.unsplash.com/random" alt="Imagem do post" />
  </div>
  <div class="post__content">
    <time class="post__postedTime">juli 17, 2023</time>
    <h2 class="post__title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor
      consequatur!
    </h2>
    <span class="post__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      nostrum, inventore id temporibus repellat unde quasi! Hic, magnam error
      exercitationem, eaque quibusdam ipsum quo sit quia distinctio quos
      laboriosam voluptas.
    </span>
  </div>
</article>
